<!-- cadastrar/disciplina_professor.jinja2 -->

{% extends "_base.jinja2" %}

{% block nav_title %}SISTEMA ESCOLAR{% endblock %}
{% block title %}Cadastrar Disciplina x Professor{% endblock %}

{% block content %}

<h2 class="text-center" style="margin-bottom: 20px;">
    Cadastro de Disciplina x Professor
</h2>

<form class="text-center" action="{{ api }}" method="post">
    <!-- Renderize os campos de entrada usando os macros (veja arquivo templates/_macros.jinja2) -->

    {{ macros.render_select("Professor:", "id_professor", professores, "") }}

    {{ macros.render_select("Disciplina:", "id_disciplina", disciplinas, "") }}

    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>

{% endblock %}
